:root {

}

#gamewindow {
    position: absolute;
    width: 400px;
    height: 400px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    align-items: stretch;
}

#content {
    flex-grow: 1;
    background-image: url("project://database/Assets/Brackeys/2D%20Mega%20Pack/Shapes/LargeSquare.png?fileID=21300000&guid=a28960bf12ee0ef439f0a3de86162ef9&type=3#LargeSquare");
    -unity-slice-scale: 0.25px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

#title-bar {
    position: absolute;
    background-image: url("project://database/Assets/Brackeys/2D%20Mega%20Pack/Backgrounds/DarkBackground.png?fileID=21300000&guid=50d72038d4682bd408a711176db21098&type=3#DarkBackground");
    -unity-slice-scale: 0.25px;
    width: 45%;
    height: 30px;
    translate: 50% 0%;
    align-items: center;
    top: 5px;
}

.h1 {
    flex-grow: 1;
    color: rgb(255, 255, 255);
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    width: 100%;
    -unity-text-align: middle-center;
    font-size: 24px;
    -unity-font-style: bold;
    letter-spacing: 5px;
    -unity-font-definition: url("project://database/Assets/Fonts/LATOWEB-BOLD.TTF?fileID=12800000&guid=09cf179430955154b925d45e9d5c89e5&type=3#LATOWEB-BOLD");
}
